{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h1>Create new Room</h1>

    <div class="block">
    {{ form_start(form) }}

        <div id="formRoom" data-index="{{ form.roomDetails|length > 0 ? form.roomDetails|last.vars.name + 1 : 0 }}">
            {{ form_row(form.description) }}
            {{ form_row(form.surface) }}
            <button class="btn btn-danger" type="submit">supprimer</button>

            <div hidden id="form-template">
            {{ form_widget(form.roomDetails.vars.prototype) }} 
            </div>
            {% for roomDetail in form.roomDetails %}
                {{ form_row(roomDetail.quantity) }}
                {{ form_row(roomDetail.bed) }}
            {% endfor %}
        </div>  
            <button class="addBed">ajouter lit</button>
            <button class="save" type="submit">creer chambre</button>
    {{ form_end(form) }}
               
            
        
    </div>

  
    <a href="{{ path('app_room_index') }}"><kbd>back to list</kbd> </a>
{% endblock %}
